*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.usda filter=lfs diff=lfs merge=lfs -text
*.mdl filter=lfs diff=lfs merge=lfs -text
*.usd filter=lfs diff=lfs merge=lfs -text
kujiale_0003/buikslotermeerplein_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0004/buikslotermeerplein_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0008/bloem_hill_01_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0009/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0020/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0021/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0022/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0024/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0024/Materials/Textures/T_Lemon_th5jddwva_2K_DpR.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0024/Materials/Textures/T_Lemon_th5jddwva_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0025/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0026/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0030/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0031/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0032/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Crema_Marfi_Marble_wjmkfbnl_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_CremaMarfiMarble_wjmkfbnl_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Furniture_Fabric_sjfvcbtc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Furniture_Fabric_sjfvcbtc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Furniture_Fabric_sjfvdgbc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Furniture_Fabric_sjfvdgbc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_FurnitureFabric_sjfvbjpc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_FurnitureFabric_sjfvcbtc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_FurnitureFabric_sjfvdgbc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Plywood_vdcjecc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Plywood_vdcjecc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Plywood_vdcjecc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Stripbond_Walnut_Parquet_thspbeac_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_Stripbond_Walnut_Parquet_thspbeac_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0033/Materials/Textures/T_StripbondWalnutParquet_thspbeac_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_Crema_Marfi_Marble_wjmkfbnl_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_CremaMarfiMarble_wjmkfbnl_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_FurnitureFabric_sjfvbjpc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_Plywood_vdcjecc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_Plywood_vdcjecc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0034/Materials/Textures/T_Plywood_vdcjecc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Bianca_Carrara_Marble_Tiles_uh1kajrv_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Bianca_Carrara_Marble_Tiles_uh1kajrv_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_BiancaCarraraMarbleTiles_uh1kajrv_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Crema_Marfi_Marble_wjmkfbnl_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_CremaMarfiMarble_wjmkfbnl_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_FurnitureFabric_sjfvbjpc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Linen_Canvas_rbess3s0_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Linen_Canvas_rbess3s0_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_LinenCanvas_rbess3s0_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Plastic_Garage_Door_tj1hfhwi_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_Plastic_Garage_Door_tj1hfhwi_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0035/Materials/Textures/T_PlasticGarageDoor_tj1hfhwi_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Bianca_Carrara_Marble_Tiles_uh1kajrv_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Bianca_Carrara_Marble_Tiles_uh1kajrv_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_BiancaCarraraMarbleTiles_uh1kajrv_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Chevron_Walnut_Parquet_th4hfcfl_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Chevron_Walnut_Parquet_th4hfcfl_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_ChevronWalnutParquet_th4hfcfl_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Furniture_Fabric_sjfvbjpc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_FurnitureFabric_sjfvbjpc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Linen_Canvas_rbess3s0_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Linen_Canvas_rbess3s0_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_LinenCanvas_rbess3s0_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Scratched_Polyvinyl_Carbonate_Plastic_sccnbdnp_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Scratched_Polyvinyl_Carbonate_Plastic_sccnbdnp_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Scratched_Polyvinylpyrrolidone_Plastic_schcbgfp_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Scratched_Polyvinylpyrrolidone_Plastic_schcbgfp_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_ScratchedPolyvinylCarbonatePlastic_sccnbdnp_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_ScratchedPolyvinylpyrrolidonePlastic_schcbgfp_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Stucco_Facade_wfnhfaq_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_Stucco_Facade_wfnhfaq_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_StuccoFacade_wfnhfaq_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_White_Cloth_sbklx0p0_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_White_Cloth_sbklx0p0_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0036/Materials/Textures/T_WhiteCloth_sbklx0p0_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0037/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0038/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0040/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0040/Materials/Textures/T_Cedar_Veneer_te3ecdyc_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0040/Materials/Textures/T_Cedar_Veneer_te3ecdyc_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0040/Materials/Textures/T_CedarVeneer_te3ecdyc_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0042/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_Bianca_Carrara_Marble_Tiles_uh1kajrv_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_Bianca_Carrara_Marble_Tiles_uh1kajrv_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_BiancaCarraraMarbleTiles_uh1kajrv_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_Crema_Marfi_Marble_wjmkfbnl_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_CremaMarfiMarble_wjmkfbnl_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_Linen_Canvas_rbess3s0_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_Linen_Canvas_rbess3s0_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_LinenCanvas_rbess3s0_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_Patterned_Marble_Tiles_vf5leawv_2K_D.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_Patterned_Marble_Tiles_vf5leawv_2K_N.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0043/Materials/Textures/T_PatternedMarbleTiles_vf5leawv_2K_ORDp.exr filter=lfs diff=lfs merge=lfs -text
kujiale_0065/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0066/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
kujiale_0067/limpopo_golf_course_4k.hdr filter=lfs diff=lfs merge=lfs -text
