<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper_x">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import piper_x urdf file -->
    <xacro:include filename="$(find agx_arm_description)/agx_arm_urdf/piper_x/urdf/piper_x_with_gripper_description.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="piper_x.ros2_control.xacro" />


    <xacro:piper_x_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
